body{background-color: rgb(213, 249, 250);}

h1{
    text-align: center;
    color: rgb(95, 93, 93);}

p{text-align: center;
font-family: 'Times New Roman', Times, serif;
}

table{
    width: 60%;
}
table th,td{
   border: 2px solid black;
   padding: 1%
}
th {
    background-color: rgb(226, 225, 218);
}
td{
    background-color: aliceblue;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 98.2%;
}

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.global-menu {
    background-color: #333;
    color: #fff;
}

.global-menu ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.global-menu li {
    display: inline;
    margin-right: 20px;
}

.global-menu a {
    text-decoration: none;
    color: #fff;
}

.global-menu a:hover {
    text-decoration: underline;
}

img{
    width: 500px;
}

.center tr:nth-child(even) {background-color: rgb(187, 187, 61);}